<header>
  <div class="container">
    <img src="../../../../G.png" alt="Logo GS" class="logo">

    <div class="menu" id="menu">
      <button class="btn" (click)="trocaPaginaDenovo('home')">Home</button>
      <button class="btn" (click)="trocaPaginaDenovo('about')">About</button>
      <button class="btn" (click)="trocaPaginaDenovo('contact')">Contact</button>
    </div>

    <!-- Menu de hambúrguer -->
    <div class="hamburger" id="hamburger" onclick="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</header>
