@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.geral {
  margin: 0px;
  background-color: #1c1c1c;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}
